.About-header {
    background-color:#090909;
   }
  
  .About-main {
    min-height: 95vh;
    
  }
  
  .d1{
    height: 100%;
    width: 100%;
   }
  
  .d2{
    height: 100%;
    width: 100%;
   }
  
  .d3{
    height: 100%;
    width: 100%;
   }
  
  .About-footer {
    min-height: 5vh;
  }
  .about-text{
    font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: -100px;
  
  border-radius: 5px;
  
  width: 90%;
  box-shadow: 0 0 20px white;
  }
  

  .vinay{
    height: 34vh;
    width: 35vh;
    background: transparent;
    margin-top: -100px;
    border-radius: 50px;
    
    padding: 20px 20px;
    
   
      
  }