/* Default styles */
.Contact-header {
  background-color: #090909;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.pro {
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 2rem;
}

.Contact-main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vinay {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.about-text {
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  margin-top: 2rem;
}

.fa-envelope,
.fa-twitter {
  margin-right: 0.5rem;
}

.footer-container {
  margin-top: 2rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .pro {
    font-size: 3rem;
  }

  .vinay {
    height: 20vh;
    width: 20vh;
  }

  .about-text {
    margin-top: 1.5rem;
  }
}

@media (max-width: 576px) {
  .pro {
    font-size: 2rem;
  }

  .vinay {
    height: 15vh;
    width: 15vh;
  }

  .about-text {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .pro {
    font-size: 1.5rem;
  }

  .vinay {
    height: 10vh;
    width: 10vh;
  }

  .about-text {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}

.resume-button {
  padding: 1rem 2rem;
  background-color: #555;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2rem;
}

.resume-button:hover {
  background-color: #333;
}
