.project_main{

    background-color: transparent;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 1%;
    border-radius: 5%;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 2rem;
    }
